.form{ 
   position: relative
   }

   .form-peice {
      background: #fff;
      min-height: 480px;
      margin-top: 30px;
      box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
      color: #bbbbbb;
      padding: 30px 0 60px;
      transition: all 0.9s cubic-bezier(1.000, -0.375, 0.285, 0.995);
      position: absolute;
      top: 0;
      left: -30%;
      width: 130%;
      overflow: hidden
      }
      /* .form-peice.switched{
         transform: translateX(-100%);
         width: 100%;
        left: 0
     } */

   form {
      padding: 0 40px;
      margin: 0;
      width: 70%;
      position: absolute;
      top: 50%;
      left: 60%;
      transform: translate(-50%, -50%)
     }

      .form-group{
         margin-bottom: 5px;
         position: relative; 
        }


      label{
         font-size: 12px;
         font-weight: 400;
         text-transform: uppercase;
         font-family: 'Montserrat', sans-serif;
         transform: translateY(40px);
         transition: all 0.4s;
         cursor: text;
         z-index: -1
         }

         label.active{
            transform: translateY(10px);
            font-size: 10px
            }

         label.fontSwitch {
            font-family: 'Raleway', sans-serif !important;
            font-weight: 600
         }
            

      input:not([type=submit]){  
         background: none;
         outline: none;
         border: none;
         display: block;
         padding: 10px 0;
         width: 100%;
         border-bottom: 1px solid #eee;
         color: #444;
         font-size: 15px;
         font-family: 'Raleway', sans-serif;
         z-index: 1
        }
         input.hasError{
            border-color: #f95959
        }

      span.error{
         color: #f95959;
         font-family:'Raleway', sans-serif;
         font-size: 12px;
         position: absolute;
         bottom: -20px;
         right: 0;
         display: none
          }

      input[type=password]{
         color: 'Montserrat', sans-serif;
        }

      .CTA{
         margin-top: 30px; }
         input {
            font-size: 12px;
            text-transform: uppercase;
            padding: 5px 30px;
            background: #f95959;
            color: #fff;
            border-radius: 30px;
            margin-right: 20px;
            border: none;
            font-family: 'Raleway', sans-serif;
        }

         /* a.switch{
            font-size: 13px;
            font-weight: 400;
            font-family: 'Raleway', sans-serif;
            color:#bbbbbb;
            text-decoration: underline;
            transition: all 0.3s;
            } */

            a:hover{
               color: #f95959
             }




@media (max-width: 768px){
   .container{
      overflow: hidden }
   section#formHolder {
      padding: 0
    }

      div.brand{
         min-height: 200px !important
        }
         div.brand.active{
             min-height: 100vh !important
            }

         .heading.active {
            top: 200px;
            left: 50%;
            transform: translate(-50%, -50%)
}
         .success-msg>p { font-size: 16px}
         .success-msg>a
              { padding: 5px 30px;
               font-size: 10px   }


      .form
        { width: 80vw;
         min-height: 500px;
         margin-left: 10vw
        }
         .form-peice{
            margin: 0;
            top: 0;
            left: 0;
            width: 100% !important;
            transition: all .5s ease-in-out
        }

            /* .form-peice.switched{
               transform: translateY(-100%);
               width: 100%;
               left: 0; } */
             form {
              width: 100% !important;
               padding: 60px;
               left: 50%  
             }
               
            }

   

@media (max-width: 700px){
   section#formHolder .form{
      width: 100vw;
      margin-left: 0
}
   h2{
      font-size: 50px !important
    }
}